* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  padding: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: white;
  background-color: rgb(22, 141, 210);
}

#container {
  min-height: 100vh;
  display: flex;
}

#left-container {
  width: 70vw;
  background-color: rgb(247, 255, 187);
  align-items: left;
}

#right-container {
  width: 30vw;
  background-color: rgb(158, 225, 179);
}

.image-row {
  display: flex;
  float: left;
}

.img {
  width: 16vw;
  height: 200px;
  justify-content: flex;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.text-box {
  width: 16vw;
  font-family: copperplate;
  justify-content: flex;
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 50px;
  font-weight: bold;
  color: white;
  height: 45px;
  background-color: rgb(51, 160, 223);
  float: left;
}

.card {
  width: 25%;
  justify-content: flex-start;
  height: 200px;
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: rgb(38, 28, 100);
}
.intro {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.strands {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#reflection-form {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

#strategy-name {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 60%;
}

#strands-dropdown {
  margin-bottom: 20px;
}

#reflection-input {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  align-items: left;
  margin-bottom: 20px;
}

#button {
  margin-left: 25px;
  width: 20%;
  height: 30px;
  font-size: large;
}

#strategy-card {
  background-color: rgb(186, 235, 201);
  color: rgb(64, 56, 60);
  width: 70%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  border: double;
}

#added-strategy {
  margin-bottom: 10px;
}

#assessd-criterion {
  margin-bottom: 10px;
} 