* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  padding: 0.5rem;
  margin-bottom: 20px;
  width: 100%;
  color: white;
  background-color: rgb(70, 147, 148);
}
#container {
  min-height: 100vh;
  display: flex;
}

#left-container {
  width: 75vw;
  background-color: aqua;
}
#right-container {
  width: 25vw;
  background-color: blueviolet;
}
.image-row {
  display: flex;
  justify-content: space-between; /* this will add equal space between each image */
}

.img {
  width: 20%;
  height: 200px;
  justify-content: flex-start;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
  /* float: left; */
  object-fit: cover;
}
.text-box {
  width: 20%;
  font-family: copperplate;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  color: darkslategray;
  /* padding: 20px 10px 50px 20px; */
  
  justify-content: flex-start;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #9dbdca;
  float: left;
}

.card {
  width: 25%;
  justify-content: flex-start;
  height: 200px;
  float: left;
  /* margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; */
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: rgb(190, 35, 100);
}
.intro {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.strands {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#reflection-tool {
  margin-bottom: 20px;

}

