* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  padding: 0.5rem;
  margin-bottom: 20px;
  width: 100%;
  color: white;
  background-color: rgb(70, 147, 148);
}

.image-row {
  display: flex;
  justify-content: space-between; /* this will add equal space between each image */
}

.img {
  width: 20%;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  object-fit: cover;
}
.text-box {
  font-family: copperplate;
  display: inline;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  color: darkslategray;
  padding: 20px 10px 50px 20px;
  width: 20%;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #9dbdca;
  float: left;
}

.card {
  width: 20%;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  float: left;
  color: rgb(190, 35, 100);
}
.strands {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

/* #img4 {
  width: 200px;
  height: 100px;
} */